body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}